<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Sidebar" />

	<f:section name="content">
        <f:if condition="{pet.media}">
            <f:then>
                <div class="row">
                    <div class="col-md-3">
                        <f:media file="{pet.media.0}" width="300" style="max-width:100%" />
                    </div>
                    <div class="col-md-9">
                        <f:render section="innercontent" arguments="{_all}" />
                    </div>
                </div>
            </f:then>
            <f:else>
                <f:render section="innercontent" arguments="{_all}" />
            </f:else>
        </f:if>
	</f:section>

    <f:section name="sidebar">
        <h4>Covid INFOS
        </h4>

        <dl>
            <dt>+0699 1111</dt>
            <dd>Hier anrufen</dd>
        </dl>
    </f:section>

    <f:section name="innercontent">
        <h1>{pet.name}</h1>
        <p class="lead">{pet.teaser}</p>
        {pet.description -> f:format.html()}
    </f:section>
</html>
