<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for displaying a single view for a domain object

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			Show.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>{country.title}</h1>

        <f:if condition="{hotels}">
            <f:then>
                <h2>Hotels in {country.title}</h2>
                <div class="row">
                    <f:for each="{hotels}" as="hotel">
                        <div class="col-md-3">
                            <h3>{hotel.title}</h3>

                            <f:link.action pageUid="{settings.hotelPage}" action="show" controller="Hotel" arguments="{hotel:hotel}">Details</f:link.action>
                        </div>
                    </f:for>
                </div>
            </f:then>
            <f:else>
                <div class="alert alert-danger">Keine Hotels verfügbar</div>
            </f:else>
        </f:if>

	</f:section>
</html>
